$primary-color: #777;
$secondary-color: #58e1c1;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;
$error-color: #e4757a;

// Media query breakpoints

$brk-narrow: '(min-width: 768px)';